gen
out
bin
*.iml
*.ipr
*.iws
.DS_Store
local.properties
.classpath
.project
.idea
*.apk
*.iml
install_apk.bat
checkstyle-result.xml
docs/*.bak
android-actionbar
android-mapviewballoons/android-mapviewballoons.iml
